emacs-configuration/emacs-installation/.cider-history
emacs-configuration/emacs-installation/.ido.last
emacs-configuration/emacs-installation/.smex-items
emacs-configuration/emacs-installation/.emacs-places
emacs-configuration/emacs-installation/.emacs.d/ac-comphist.dat
emacs-configuration/emacs-installation/.emacs.d/auto-save-list/
emacs-configuration/emacs-installation/.emacs.d/elpa/archives/
emacs-configuration/emacs-installation/.emacs.d/elpa/gnupg/
emacs-configuration/emacs-installation/.emacs.d/eshell/
emacs-configuration/emacs-installation/.emacs.d/ido.last
emacs-configuration/emacs-installation/.emacs.d/places
emacs-configuration/emacs-installation/.emacs.d/projectile-bookmarks.eld
emacs-configuration/emacs-installation/.emacs.d/projectile.cache
emacs-configuration/emacs-installation/.emacs.d/server/
emacs-configuration/emacs-installation/.emacs.d/history
emacs-configuration/emacs-installation/.gnupg/
emacs-configuration/emacs-installation/.emacs.d/.cache
emacs-configuration/emacs-installation/.emacs.d/logview-cache.extmap
emacs-configuration/emacs-installation/.emacs.d/transient/
emacs-configuration/emacs-installation/.emacs.d/.lsp-session-v1

.nomis-space-debug

# To get vterm to work on a new machine:
# - delete the following things (the ignored things after this comment)
# - restart Emacs
# - run `vterm`.
# That will build the following things.
# (The following things have version numbers of cmake and its dependencies baked
# into them, and if they don't exist on the new machine things won't work -- I
# saw Emacs crashing after I copied Emacs config from one machine to another.)
emacs-configuration/emacs-installation/.emacs.d/elpa/vterm-20210908.640/build/
emacs-configuration/emacs-installation/.emacs.d/elpa/vterm-20210908.640/vterm-module.so
