;; /nomis-deps-edn-note/ dot-shadow-cljs config: Some deps come from this file.
;; And you have midje and kaocha here and in the `:user/dev` alias at
;; `dot-clojure/deps.edn`.
{:dependencies
 [;; Upgrade with CIDER. (Do a `cider-jack-in` with these commented out, and
  ;; look at the command line that is used.)
  [cider/cider-nrepl "0.57.0"]
  [refactor-nrepl/refactor-nrepl "3.11.0"]

  ;; Other
  [com.nomistech/kaocha-with-nomis-hacks "0.9.0"]
  [com.nomistech/portal-logger "0.1.0-SNAPSHOT"]
  [djblue/portal "0.35.0"]
  [fipp/fipp "0.6.26"]
  [lambdaisland/deep-diff2 "2.7.169"]
  [midje/midje "1.10.9"] ; to allow running Midje autotest in a CLJ REPL
  [nomis-clj-repl-tools/nomis-clj-repl-tools "0.1.7"]
  [org.clojure/java.classpath "1.0.0"]
  [pjstadig/humane-test-output "0.11.0"]]}
